/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* reset codes and common codes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.2s;
}

.flex-design {
  display: flex;
  flex-direction: row;
}

.w-50 {
  width: 50%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  background: url("images/top-banner.png") no-repeat;
}

button {
  border: none;
  padding: 10px;
  font-size: 20px;
  margin: 20px 0;
  padding: 10px 40px;
  background: linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

p {
  font-size: 1.1em;
  color: #696969;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  color: orange;
}

h4 {
  font-size: 20px;
  line-height: 25px;
  margin: 20px 0;
  color: indianred;
}

hr{
  width: 90%;
  margin: 30px auto;
  color: gray;
}

.ml{
  margin-left: 20px;
}

/* about designing */
.about {
  margin: 1%;
}

.about .left {
  padding: 2%;
}

.about .left h1 span {
  color: orange;
}

.about .right img {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

/* dream designing */
.left-1 img {
  width: 80%;
  height: auto;
}

.right-1{
  padding: 2%;
}

/* experiences designing */
.cards{
  display: flex;
}

.card{
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px;
}

/* footer designing */
footer {
  text-align: center;
  margin: 10px 0;
}

/* 1300px and less */
@media screen and (max-width: 1300px){
  .cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card{
    margin: 20px 50px;
  }

  .ml{
    margin: 0;
  }

  .w-50{
    width: 75%;
  }
}

/* 1000px and less */
@media screen and (max-width: 1000px){
  .flex-design{
    flex-direction: column;
  }

  .w-50{
    width: 100%;
  }
}