/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* reset codes and common codes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex-design {
  display: flex;
  flex-direction: row;
}

.w-50 {
  width: 50%;
}

button {
  border: none;
  padding: 10px;
  font-size: 20px;
  margin: 20px 0;
  padding: 10px 40px;
  background: linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  background: url("images/top-banner.png") no-repeat;
}

/* about designing */
.about {
  margin: 1%;
}

.about .left {
  padding: 2%;
}

.about .left h1 {
  font-size: 60px;
}

.about .left h1 span {
  color: orange;
}

.about .left h4 {
  font-size: 20px;
  line-height: 25px;
  margin: 20px 0;
}

.about .left p {
  font-size: 1.2em;
  color: #808080;
}

.about .right {
  position: static;
}

.about .right img {
  width: auto;
  height: 60%;
  margin: auto;
  display: block;
}

/* dream designing */
